:root {
  --gutter-2: 2px;
  --gutter-4: 4px;
  --gutter-6: 6px;
  --gutter-8: 8px;
  --gutter-12: 12px;
  --gutter-16: 16px;
  --gutter-18: 18px;
  --gutter-24: 24px;
  --gutter-32: 32px;
  --gutter-36: 36px;
  --gutter-40: 40px;
  --gutter-48: 48px;
  --gutter-56: 56px;
}