@font-face {
  font-weight: 400;
  font-family: 'Inter';
  font-style: normal;
  src: url('fonts/Inter-Regular.ttf') format('truetype');
}

@font-face {
  font-weight: 500;
  font-family: 'Inter';
  font-style: normal;
  src: url('fonts/Inter-Medium.ttf') format('truetype');
}

@font-face {
  font-weight: 600;
  font-family: 'Inter';
  font-style: normal;
  src: url('fonts/Inter-SemiBold.ttf') format('truetype');
}