@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    :root {

    }
}

@layer base {
}


html, body, :root, #root {
    height: 100%;
    font-family: "Manrope", sans-serif;
}

::-webkit-scrollbar {
    width: 6px;
}

/* TrackSideSheet */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: theme('colors.badge');
    border-radius: 16px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: theme('colors.badge');
}

@layer utilities {
    .scrollbar-track {
        &::-webkit-scrollbar-track {
            @apply mt-3 mb-3;
        }
    }
}
